<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if flash[:notice] %>
   <div class="flash">
    <%=flash[:notice] %>
   </div>
   <% end %>
  <div class=link>
  <ul>
    <li class="contentwrapper">
      <%=link_to("トップページ","/top") %>
    </li>
    <li class="contentwrapper">
      <%=link_to("店舗詳細","/about") %>
    </li>
    <li class="contentwrapper">
      <%=link_to("投稿一覧","/posts/index") %>
    </li>
    <li class="contentwrapper">
      <%=link_to("新規投稿","/posts/new") %>
    </li>
    <li class="contentwrapper">
      <%=link_to("ユーザー一覧","/users/index") %>
    </li>
    <li class="contentwrapper">
      <%=link_to("新規登録","/signup") %>
    </li>
  </ul>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
